<div class="modal fade" id="taskmodal" tabindex="-1" aria-labelledby="task-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="title-task">Tarefa</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="update = false"></button>
            </div>
            <div class="modal-body">
                
                <form>

                    <div class="mb-3">
                        <label for="task" class="form-label">Tarefa</label>
                        <input type="text" class="form-control" id="task" name="task">
                    </div>
                    <div class="mb-3">
                        <label for="time" class="form-label">Data conclusão</label>
                        <div class="d-flex">
                            <input type="date" class="form-control" id="date" name="date">
                            <input type="time" class="form-control" id="time" name="time">
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="update = false">fechar</button>
                <button type="button" class="btn btn-danger d-none" id="delete" data-bs-dismiss="modal">excluir</button>
                <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" id="add">salvar</button>
            </div>
        </div>
    </div>
</div>