<% if (form == "register") { %>
 
  <div class="d-flex flex-column justify-content-center my-auto" style="height: 90vh;">

    <div class="background-dark rounded-5 w-50 border border-dark border-2 mx-auto mt-5">

        <form action="/user/save" method="post" id="register" class="p-3 w-75 mx-auto">

            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="email" class="form-control" id="nome" name="nome">
              </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Senha</label>
              <input type="password" class="form-control" id="senha" name="senha">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirmar senha</label>
                <input type="password" class="form-control" id="senha_c">
              </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">aceite os <a href="/term">termos de serviços</a></label>
            </div>
            <button type="submit" class="btn btn-primary">registrar</button>

          </form>

    </div>

  </div>

<% } %>

<script src="/public/js/validation.js"></script>