<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feito</title>

    <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

</head>
<body class="background min-vh-100">

    <header class="header background-dark">

        <div class="d-flex p-2">

            <div class="ms-auto d-flex">

                <div class="me-3 mt-1 d-flex h-75">

                    <a href="/user/login" class="btn btn-dark fs-6"> LOGIN </a>
    
                    <a href="/user/register" class="btn btn-danger ms-2 fs-6"> REGISTRAR </a>

                </div>
                <img src="/public/img/user.png" width="50" height="50">

            </div>


        </div>

    </header>
    <main class="container-fluid">

        <%- body %>

    </main>

    <script src="/jquery/jquery.min.js"></script>
    
</body>
</html>