
<div class="py-2">
    <h1 class=" w-75 mx-auto mt-1">Termo de Serviço para uso de cookies e armazenamento de dados no banco de dados</h1>
    
    <h2 class="w-75 mx-auto mt-5">Cookies</h2>
    <p class="my-3 mx-auto w-75 text-secondary">Nós utilizamos cookies para melhorar a sua experiência em nosso site e para coletar informações sobre como os
        usuários interagem com nossos serviços. Os cookies são pequenos arquivos de texto que são armazenados em seu
        dispositivo quando você visita nosso site. Os cookies nos permitem reconhecer seu dispositivo e obter informações
        sobre sua navegação em nosso site.</p>
    <p class="my-3 mx-auto w-75 text-secondary">Os cookies que utilizamos podem incluir cookies de sessão, que são excluídos após o fechamento do navegador, e
        cookies persistentes, que permanecem no seu dispositivo até que sejam excluídos ou expirem. Nós utilizamos cookies
        de terceiros, como Google Analytics, para coletar informações sobre a sua navegação em nosso site. Esses cookies
        podem ser usados para fornecer anúncios personalizados e para fins de análise de dados.</p>
    
    <h2 class="w-75 mx-auto mt-1">Armazenamento de Dados</h2>
    <p class="my-3 mx-auto w-75 text-secondary">Nós armazenamos informações coletadas por meio de cookies e outras formas de coleta de dados em nosso banco de dados.
        As informações armazenadas podem incluir seu endereço de IP, informações de registro, informações sobre o
        dispositivo, informações sobre a localização geográfica, informações sobre as páginas visitadas em nosso site, entre
        outras informações relevantes.</p>
    <p class="my-3 mx-auto w-75 text-secondary">As informações armazenadas em nosso banco de dados são usadas para melhorar nossos serviços e para fins de análise de
        dados. Nós não compartilhamos suas informações com terceiros, exceto quando exigido por lei ou quando necessário
        para fornecer nossos serviços. Tomamos medidas de segurança para proteger as informações armazenadas em nosso banco
        de dados contra acesso não autorizado ou uso indevido.</p>
    
    <p class="my-3 mx-auto w-75 text-secondary">Ao utilizar nossos serviços, você concorda com o uso de cookies e com o armazenamento de informações em nosso banco
        de dados de acordo com os termos e condições estabelecidos neste Termo. Se você não concordar com estes termos, não
        utilize nossos serviços.</p>
    </div>